files:
  "/etc/nginx/conf.d/01_custom.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      location = / {
          root /var/app/current/CesarAPI/wwwroot; # Sökvägen till din HTML-fil
          index index.html; # Namnet på din HTML-fil
          try_files $uri $uri/ /index.html; # Sökvägen till index.html
      }
